body {
    margin: 2vw;
    background-color: #2E261F;
    color: #A6C8DD;
    font-family: Poppins, sans-serif;
}

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}